<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="bg"></div>
      <div class="loading-text">0%</div>
    </div>
    <script>
      const loadText = document.querySelector('.loading-text')
      const bg = document.querySelector('.bg')
      let load = 0
      let timer = setInterval(blurring, 15)
      function blurring() {
        load++
        if (load > 99) {
          clearInterval(timer)
        }
        loadText.innerHTML = `${load}%`
        loadText.style.opacity = scale(load, 0, 100, 1, 0)
        bg.style.filter = `blur(${scale(load, 0, 100, 30, 0)}px)`
      }
      // 将一个数的取值范围转换为另一个替换的数值范围 0-100 => 1-0
      const scale = (num, in_min, in_max, out_min, out_max) => {
        return (
          ((num - in_min) * (out_max - out_min)) / (in_max - in_min) + out_min
        )
      }
    </script>
  </body>
</html>
