<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="container">
      <div
        class="panel active"
        style="background-image: url('./images/01.jpg')"
      >
        <h3>01.初音未来</h3>
      </div>
      <div class="panel" style="background-image: url('./images/02.jpg')">
        <h3>02.游戏CG</h3>
      </div>
      <div class="panel" style="background-image: url('./images/03.jpg')">
        <h3>03.未知</h3>
      </div>
      <div class="panel" style="background-image: url('./images/04.jpg')">
        <h3>04.无名</h3>
      </div>
      <div class="panel" style="background-image: url('./images/05.jpg')">
        <h3>05.未知</h3>
      </div>
    </div>
    <script>
      console.log(233)
      const panels = document.querySelectorAll('.panel')
      panels.forEach((panel) => {
        panel.addEventListener('click', () => {
          console.log('233')
          removeActiveClasses()
          panel.classList.add('active')
        })
      })
      function removeActiveClasses() {
        panels.forEach((panel) => {
          panel.classList.remove('active')
        })
      }
    </script>
  </body>
</html>
