@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 18px;
}
#speed {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darksalmon;
  border: none;
  text-align: center;
}
#speed:focus {
  outline: none;
}
